<div *ngIf="(type == 1)">
  
  <div class="row no-gutters">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 widget mr-3">
      <div class="alert alert-primary" role="alert">
        ESP 1
      </div>
    </div>
  </div>
  
  <div class="row no-gutters">
  
    <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 widget mr-3">
      <app-widget-weather [weatherDevice]="registeredDevice"></app-widget-weather>
    </div>

    <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 widget mr-3">
      <app-widget-light [lightDevice]="registeredDevice"></app-widget-light>
    </div>
    
  </div>

  <div class="row no-gutters">
    
    <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 widget mr-3">
      <app-widget-relay [relayDevice]="registeredDevice" pin="5"></app-widget-relay>
    </div>
    
    <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 widget mr-3">
      <app-widget-relay [relayDevice]="registeredDevice" pin="6"></app-widget-relay>
    </div>

    <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 widget mr-3">
      <app-widget-relay [relayDevice]="registeredDevice" pin="7"></app-widget-relay>
    </div>
    
  </div>
    
</div>

<div *ngIf="(type == 2)" >
  
  <div class="row no-gutters">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 widget mr-3">
      <div class="alert alert-primary" role="alert">
        ESP 2
      </div>
    </div>
  </div>
  
  <div class="row no-gutters">
  
    <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 widget mr-3">
      <app-widget-ph [phDevice]="registeredDevice"></app-widget-ph>
    </div>
    
    <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 widget mr-3">
      <app-widget-weather [weatherDevice]="registeredDevice"></app-widget-weather>
    </div>
    
    <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 widget mr-3">
      <app-widget-relay [relayDevice]="registeredDevice" pin="5"></app-widget-relay>
    </div>
    
  </div>
  
  <div class="row no-gutters">
    <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 widget mr-3">
      <app-widget-dioxide [dioxideDevice]="registeredDevice"></app-widget-dioxide>
    </div>
    
    <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 widget mr-3">
      <app-widget-relay [relayDevice]="registeredDevice" pin="6"></app-widget-relay>
    </div>
    
  </div>
  
</div>